/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-attachment:fixed;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:40%;
    height:50px;                   /* text area height */
    width:300px;                   /* text area width */
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}
.map{
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

.header {
    position:absolute;             /* position in the center of the screen */
    left:50%;
	top: -70px;
    height:50px;                   /* text area height */
    width:300px;                   /* text area width */
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}
#buy_start{
    position:absolute;             /* position in the center of the screen */
    left:50%;
	top: 50%;
    height:100px;                   /* text area height */
    width:200px;                   /* text area width */
    padding:100px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -90px;  /* offset vertical: half of image height and text area height */
       
}

#button {
    background:none; /* 170px x 200px */
    width:200px;                   /* text area width */
	height: 20px;
    text-align:center;
	position: none;
    padding:18px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    display: inline-block;                        
}

li {
    list-style: none;
	
}

a, a:hover, a:visited, a:active {
    color: #E55451;
	text-decoration: none	
}

h1 {
	font-family: garamond;
    font-size:60px;
    font-weight:bold;
    margin-top: 20px;
	color: #E55451;
	text-transform:uppercase;
}

h2 {
	font-family: helvetica;
    font-size:28px;
    font-weight:normal;
	margin-top: -55px;
	color: #2B65EC;
	background-color: none;
}
h3 {
	background-color: #2B65EC;
	font-family: garamond;
    font-size:40px;
    font-weight:bold;
    margin-top: 5px;
	text-align: center;
	color: white;
	text-transform:uppercase;
}

.view {
	display: none;
}
.view.active {
	display: inherit;
}
